/* Import Bootstrap CSS CDN */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css');

/* Add custom CSS styles */
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Hide form inputs for APN, VPN, proxy, and DNS by default */
#apn-inputs,
#vpn-inputs,
#proxy-inputs,
#dns-inputs,
#cloudflare-inputs {
  display: none;
}

/* Style for APN select */
.apn select {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for form-check labels */
.form-check-label {
  font-size: 16px;
  font-weight: 400;
}

/* Style for form-text */
.form-text {
  font-size: 14px;
  font-weight: 300;
  color: #737373;
}

/* Style for VPN inputs */
.vpn input[type="text"],
.vpn input[type="password"] {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for proxy inputs */
.proxy input[type="text"] {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for DNS input */
.dns input[type="text"] {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for Cloudflare input */
.cloudflare input[type="text"] {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
